[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
dict-helper = {git = "https://github.com/Fumipo-Theta/dict_helper"}
func-helper = {git = "https://github.com/Fumipo-Theta/func_helper"}
iter-helper = {git = "https://github.com/Fumipo-Theta/iter_helper"}
dataframe-helper = {git = "https://github.com/Fumipo-Theta/dataframe_helper"}
data-loader = {git = "https://github.com/Fumipo-Theta/data_loader"}
structured-plot = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3"
